.masthead {
  position: relative;
  background-color: #343a40;
  color: #ffffff;
  padding-top: 8rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;

  background: url('/images/bg-masthead-code.jpg') no-repeat center center;
  background-size: cover;
}

.mastheadButton {
  width: 10em;
  font-size: 1.25rem;
  color: #ffffff !important;
  font-weight: 400;
}
