pr: none
trigger: none
parameters:
  - name: sites
    type: object
    displayName: 'Sites to include'
    default:
      [
        'api-extractor.com',
        'api.rushstack.io',
        'heft.rushstack.io',
        'lfx.rushstack.io',
        'rushjs.io',
        'rushstack.io',
        'tsdoc.org'
      ]
pool:
  vmImage: 'ubuntu-latest'
variables:
  FORCE_COLOR: 1
jobs:
  - job: Deploy
    displayName: Deploy
    variables:
      NodeVersion: 24
    steps:
      - checkout: self
        persistCredentials: true
      - template: templates/build.yaml
      - script: |
          EXTRAHEADER=$(git config --get-regexp 'http\..*\.extraheader' 2>/dev/null | head -1)
          TOKEN_B64=$(echo "$EXTRAHEADER" | sed 's/.*AUTHORIZATION: basic //')
          GIT_PASS=$(echo "$TOKEN_B64" | base64 --decode | sed 's/^.*://')
          echo "##vso[task.setvariable variable=GIT_PASS;issecret=true]$GIT_PASS"
        displayName: 'Extract Git credentials'
      - ${{ each site in parameters.sites }}:
          # Upload the docusaurous output to the GH Pages repos
          - script: 'node ../../common/scripts/install-run-rushx.js deploy'
            displayName: 'Deploy ${{ site }}'
            workingDirectory: 'websites/${{ site }}'
            env:
              TARGET: prod
              GIT_USER: rushbot
              GIT_PASS: $(GIT_PASS)
