.eventCardBorder {
  padding: 20px;

  margin-top: 20px;
  margin-right: 50px;

  border-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
  border-radius: 5px;
}

.eventCardBorderDefunct {
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 10px, #f0f0f0 10px, #f0f0f0 20px);
}

.detailBox {
  padding: 20px;

  margin-top: 20px;
  margin-right: 50px;

  border-radius: 5px;
  background-color: #f0f0f0;
}

.titleUrlLink {
  color: #000000;
}
