.eventCardBorder {
  padding: 20px;

  margin-top: 20px;
  margin-right: 50px;

  border-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
  border-radius: 5px;
}

.detailBox {
  padding: 20px;

  margin-top: 20px;
  margin-right: 50px;

  border-radius: 5px;
  background-color: #f0f0f0;
}
